<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1088420123039-at9k087j09eo6eiivdcodt0c7gaaopd1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1088420123039-at9k087j09eo6eiivdcodt0c7gaaopd1</string>
	<key>API_KEY</key>
	<string>AIzaSyBIpthFPXwwMg-ZWlVmFhdn84wwxO13lQU</string>
	<key>GCM_SENDER_ID</key>
	<string>1088420123039</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nivelate.logi</string>
	<key>PROJECT_ID</key>
	<string>logi-8f231</string>
	<key>STORAGE_BUCKET</key>
	<string>logi-8f231.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1088420123039:ios:00714962d6d06f6aeeedaa</string>
	<key>DATABASE_URL</key>
	<string>https://logi-8f231.firebaseio.com</string>
</dict>
</plist>