<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1079695190435-61uih1afkqbch43ufotpvpsd2hd8msp7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1079695190435-61uih1afkqbch43ufotpvpsd2hd8msp7</string>
	<key>API_KEY</key>
	<string>AIzaSyCu8E3QZFvsJVSu3e10je80ga4vBUDUOSc</string>
	<key>GCM_SENDER_ID</key>
	<string>1079695190435</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nivelate.logi</string>
	<key>PROJECT_ID</key>
	<string>logi-f7b84</string>
	<key>STORAGE_BUCKET</key>
	<string>logi-f7b84.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1079695190435:ios:c0ae0fc527e9717bc81216</string>
	<key>DATABASE_URL</key>
	<string>https://logi-f7b84.firebaseio.com</string>
</dict>
</plist>